@media (max-width: 575.98px) {
	.App {
		width: 100%;
	}
}

.navbar-brand {
	font-weight: bold;
	margin-left: 1rem;
}

.navbar-nav {
	margin-right: 1rem;
}

.App {
	height: 100%;
	width: 100%;
}

#root{
	height: 100%;
}

body{
	padding-top: 4rem;
}

@font-face{
	font-family: 'Montserrat';
	src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}

.logo{
	font-family: Montserrat;
	color: white !important;
}

.navbar{
	background-color: #F40D30 !important;
}

.nav-link{
	color: white !important;
	margin-left: .5rem;
}

